body {
    background-color: #191919;
    margin: 0;
    background-image: url(../static/img/portfolio-background.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #191919;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(246, 233, 178, 0.8);
    box-shadow: 0 0 15px 0 rgb(246, 233, 178, 0.8);
    font-size: 1.1rem;
    opacity: 0.8;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.nav-div {
    width: 100%;
}

h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    height: auto;
}

h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h3 {
    color: white;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

nav>ul>li {
    list-style-type: none;
    color: white;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    position: relative;
}

nav>ul>li>a.nav-accueil {
    bottom: 0rem;
    border-bottom: 2px solid white;
}

a#no-active:after {
    content: "";
    bottom: 0rem;
    right: 0;
    width: 0;
    position: absolute;
    height: 0.1rem;
    background-color: white;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
}

a#no-active:hover:after {
    width: 100%;
    left: 0;
    opacity: 1;
}

.nav-bar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
}

.pres-div,
.diplome-div,
.exp-div {
    margin: 0;
    background-color: #222222;
    border-radius: 0.4rem;
    width: 90%;
    padding: 1rem;
    border: 1px solid rgb(246, 233, 178, 0.5);
    box-shadow: 0 0 15px 0 rgb(246, 233, 178, 0.5);
    align-content: center;
    flex-wrap: nowrap;
    opacity: 0.8;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list>li {
    display: flex;
    padding: 0 20px;
}

.svg {
    vertical-align: middle;
    margin: 0px 5px 5px 5px;
    width: 25px;
    height: 25px;
}

.main-div>.pres-div,
.main-div>.diplome-div,
.main-div>.exp-div {
    margin: auto;
    background-color: #222222;
    border-radius: 0.4rem;
    width: 80%;
    padding: 1rem;
    margin-top: 3rem;
}

.footer-div {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.footer-div {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #222222;
    justify-content: space-between;
}

.footer-user>p,
.footer-portfolio>p {
    color: #f6e9b2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.footer-user {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.footer-portfolio {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.svg-user {
    color: #f6e9b2;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.svg-portfolio {
    color: #f6e9b2;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.footer-portfolio {
    justify-content: flex-end;
}

footer {
    margin-top: auto;
    border-top: 1px solid rgb(246, 233, 178, 0.8);
    box-shadow: 0 0 15px 0 rgb(246, 233, 178, 0.8);
    margin-top: 2rem;
    opacity: 0.8;
}


/* style checkbox mod nuit/jour */
.toggleWrapper {
    position: absolute;
    top: 50%;
    left: 90%;
    overflow: hidden;
    padding: 0 100px;
    transform: translate3d(-50%, -50%, 0);
    color: white;
    margin: 0;
}

.toggleWrapper input {
    position: absolute;
    left: -99em;
}

.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83d8ff;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
    content: 'AM';
    position: absolute;
    left: -50px;
    top: 15px;
    font-size: 18px;
}

.toggle:after {
    content: 'PM';
    position: absolute;
    right: -48px;
    top: 15px;
    font-size: 18px;
    color: #749ed7;
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: #ffcf96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}

.toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}

.toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
}

.toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
}

.toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
}

.star {
    position: absolute;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
}

.star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
}

.star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--4,
.star--5,
.star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

.star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
}

.star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

input:checked+.toggle {
    background-color: #749dd6;
}

input:checked+.toggle:before {
    color: #749ed7;
}

input:checked+.toggle:after {
    color: #fff;
}

input:checked+.toggle .toggle__handler {
    background-color: #ffe5b5;
    transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked+.toggle .toggle__handler .crater {
    opacity: 1;
}

input:checked+.toggle .star--1 {
    width: 2px;
    height: 2px;
}

input:checked+.toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
}

input:checked+.toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
}

input:checked+.toggle .star--4,
input:checked+.toggle .star--5,
input:checked+.toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

input:checked+.toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked+.toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Style bouton styler */
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

aside {
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    justify-content: center;
    height: 100%;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: rgb(246, 233, 178);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

/* Style card aside */
.card {
    width: 200px;
    height: 200px;
    background: linear-gradient(to top, #333 0%, #555 100%);
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgb(246, 233, 178);
    margin: 2.5rem;
    margin-left: 0;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*Image*/
.card-avatar {
    --size: 65px;
    background: linear-gradient(to bottom, #f6e9b2 0%, #f6eab257 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}


/*Card footer*/
.card-social {
    transform: translateY(200%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    margin: 0;
    padding: 0;
}

.card-social__item {
    list-style: none;
}

.card-social__item svg {
    display: block;
    height: 25px;
    width: 25px;
    fill: #f6e9b2;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title {
    color: #f6e9b2;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.card-subtitle {
    color: rgb(246, 233, 178, 0.8);
    font-size: 0.8em;
}

/*Hover*/
.card:hover {
    box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
    transform: translateY(-5%);
}

.card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
}

.card-social__item svg:hover {
    fill: #f6eab257;
    transform: scale(1.1);
}

.card-avatar:hover {
    transform: scale(1.1);
}